token="bot_token"
clientId="bot_client_id"
clientSecret=BotClientSecret

# web panel
redirectUrl=http://localhost:6969
ENCRYPTION_KEY=сгенерировать с помощью кода в конце

gemini_api_key="dev_gemini_api_key"
gemini_api_key_1="dev_gemini_api_key"
gemini_api_key_2="dev_gemini_api_key"
gemini_api_key_N="dev_gemini_api_key"

#Ни в коем случае не делать так:
# gemini_api_key_1="dev_gemini_api_key"
# gemini_api_key_12="dev_gemini_api_key"
# gemini_api_key_317435162="dev_gemini_api_key"

# const crypto = require('crypto');

# const generatedKey = crypto.randomBytes(32).toString('hex');
# console.log(generatedKey);
