TOKEN="bot_token"
CLIENT_ID="bot_client_id"
DEV_SERVER_ID="guild_id"

DEV=false 

ENCRYPTION_KEY="сгенерировать с помощью кода ниже"

# const crypto = require('crypto');

# const generatedKey = crypto.randomBytes(32).toString('hex');
# console.log(generatedKey);
