token="bot_token"
clientId="bot_client_id"
clientSecret=BotClientSecret

# web panel
redirectUrl=http://localhost:6969
ENCRYPTION_KEY=сгенерировать с помощью кода в конце

# const crypto = require('crypto');

# const generatedKey = crypto.randomBytes(32).toString('hex');
# console.log(generatedKey);
