clientId="bot_clientId"
clientSecret="bot_clientSecret"
redirectUrl="http://localhost:6969"
ENCRYPTION_KEY=
# const crypto = require('crypto');

# const generatedKey = crypto.randomBytes(32).toString('hex');
# console.log(generatedKey);
